name: "Publish"

on:
    push:
        tags:
            # Publish on any tag starting with a `v`, e.g., v0.1.0
            - v*

jobs:
    run:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.11"]

        environment:
            name: pypi
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Install uv
              uses: astral-sh/setup-uv@v6
            - name: Install Python ${{ matrix.python-version }}
              run: uv python install ${{ matrix.python-version }}
            - name: Build
              run: uv build
            # Check that basic features work and we didn't miss to include crucial files
            - name: Smoke test (wheel)
              run: uv run --isolated --no-project --with dist/*.whl --with pytest --with pytest-cov pytest tests
            - name: Smoke test (source distribution)
              run: uv run --isolated --no-project --with dist/*.tar.gz --with pytest --with pytest-cov pytest tests
            - name: Publish
              run: uv publish
